/*.bg-soft-primary {
    background-color: #e7f1ff;
}

.form-control:focus, .form-select:focus {
    box-shadow: none;
    border-color: #0d6efd;
    background-color: #fff !important;
}

.input-group-text {
    color: #6c757d;
}

.card {
    border-radius: 15px;
}
*/